@model GenericWebshop.Models.Order
@{
    ViewBag.Title = "Shoping cart";
}
<div class="container">
    <div class="row">
        <div class="col-sm-12 col-md-10 col-md-offset-1">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Product</th>
                        <th>Quantity</th>
                        <th class="text-center">Price</th>
                        <th class="text-center">Total</th>
                        <th> </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var orderItem in Model.OrderItems)
                    {
                        <tr class="cartItem" id="@orderItem.Item.Id">
                            <td class="col-sm-8 col-md-6">
                                <div class="media">
                                    <a class="thumbnail pull-left" href="#"> <img class="media-object" src="http://icons.iconarchive.com/icons/custom-icon-design/flatastic-2/72/product-icon.png" style="width: 72px; height: 72px;"> </a>
                                    <div class="media-body">
                                        <h4 class="media-heading"><a href="#">@orderItem.Item.Title</a></h4>
                                        <h5 class="media-heading"> by <a href="#">@orderItem.Item.Supplier.Name</a></h5>
                                        <span>Status: </span><span class="text-success"><strong>In Stock</strong></span>
                                    </div>
                                </div>
                            </td>
                            <td class="col-sm-1 col-md-1" style="text-align: center">
                                <input type="number" style="width: 8rem" class="form-control amount" id="@orderItem.Item.Id" value="@orderItem.Amount">
                            </td>
                            <td class="col-sm-1 col-md-1 text-center price"><strong>€@(orderItem.Item.Price.ToString().TrimEnd('0').TrimEnd('.'))</strong></td>
                            <td class="col-sm-1 col-md-1 text-center total-price"><strong>€@((orderItem.Item.Price * orderItem.Amount).ToString().TrimEnd('0').TrimEnd('.')) </strong></td>
                            <td class="col-sm-1 col-md-1">
                                <button type="button" class="btn btn-danger" onclick="DeleteItemAction(@orderItem.Items_Id)">
                                    <span class="glyphicon glyphicon-remove"></span> Remove
                                </button>
                            </td>
                        </tr>
                    }
                    <tr>
                        <td>   </td>
                        <td>   </td>
                        <td>   </td>
                        <td><h3>Total</h3></td>
                        <td class="text-right"><h3><strong id ="total">€@ViewData["total"]</strong></h3></td>
                    </tr>
                    <tr>
                        <td>   </td>
                        <td>   </td>
                        <td>   </td>
                        <td>
                            <a class="btn btn-default" href="/">
                                <span class="glyphicon glyphicon-shopping-cart"></span> Continue Shopping
                            </a>
                        </td>
                        <td>
                            <button type="button" class="btn btn-success" onclick="ShowAlert('info','checkout not implemented')">
                                Checkout <span class="glyphicon glyphicon-play"></span>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

@section Scripts
{
<script src="~/Scripts/Custom/CartAjax.js"></script>
    <script type="text/javascript">
        setInterval(UpdatePrices, 100);
    </script>
}